---
import "../styles/style.css"
---

<div class="bibliotek">
    <h2>Dit Bibliotek</h2>
</div>

<style>
    .bibliotek{
        background-color: #181818;
        max-width: 350px;
        height: 500px;
    }

</style>