---
import "../styles/style.css"
---

<button> 
    <slot />
</button>

<style>
    button{
        background-color: white;
        color: black;
        border-radius: 20px;
        padding: 10px 20px 10px 20px;
        font-size: 1rem;
    }
</style>