---
import "../styles/style.css"
import Button from "../components/Button.astro"
---


<footer>
    <div>
<h2>Eksempel på Spotify</h2>
<p>Tilmeld dig for at få ubegrænsede sange og podcasts med lejlighedsvise reklamer. Du skal ikke bruge kreditkort.</p>
</div>
<Button>Tilmeld dig gratis</Button>

</footer>

<style>
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(174,40,150);
background: linear-gradient(90deg, rgba(174,40,150,1) 0%, rgba(81,154,244,1) 100%);
}

</style>