---
import Card from "../components/Card.astro"
const {header, description} = Astro.props
---

<div class="container">
 <slot/>
</div>

<style> 
.container 
{ display: flex;
 flex-direction: row;
gap: 1.5rem;
background: rgb(30,30,30);
background: linear-gradient(0deg, rgba(30,30,30,1) 0%, rgba(18,18,18,1) 100%);
padding: 20px
}

    </style>